{% load i18n %}
{% load static %}
<html>
<head>
<title>{% trans "Codification ESMS" %}</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static '/esms/w3.css' %}">
    <link rel="stylesheet" href="{% static '/esms/w3-theme-black.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="icon" href="{% static 'favicon.ico' %}" type="x-icon" />
    <link rel="apple-touch-icon" sizes="72x72" href="{% static '/ico/apple-touch-icon-72.png' %}" type="image/png">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static '/ico/apple-touch-icon-120.png' %}" type="image/png">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static '/ico/apple-touch-icon-144.png' %}" type="image/png">
    <link rel="icon" href="{% static '/ico/favicon.png' %}" type="image/png">
<script>
function cacheliste() {
    var cells = document.querySelectorAll('[id$="-code"]');
    cells.forEach(function(element) {
       element.disabled = true;
    });
}
</script>
</head>

<body onload="cacheliste()">

    <header class="w3-row w3-theme-l1" id="myHeader">
         <div class="w3-threequarter w3-padding">
              {% block titre %}
              {% endblock %}
         </div>

         <div class="w3-quarter w3-center">
         <form action="{% url 'set_language' %}" method="post">
         {% csrf_token %}
          <input name="next" type="hidden" value="{{ index }}" />
          {% get_current_language as LANGUAGE_CODE %}
          {% get_available_languages as LANGUAGES %}
          {% get_language_info_list for LANGUAGES as languages %}
          {% for language in languages %}
              {% if language.code != LANGUAGE_CODE %}
                <input type="submit" class="w3-button w3-theme-l2" name="language" value="{{ language.code }}" />
              {% endif %}
          {% endfor %}
          </form>
         </div>
</header>

    <div id="container">
        {% if messages %}
            {% for msg in messages %}
                <div class="alert alert-{{msg.level_tag}}" role="alert">
                {{msg.message}}
                </div>
            {% endfor %}
        {% endif %}
    </div>

    {% block maincontent %}
    {% endblock %}

</body>
</html>
